# Yelp Business Analysis

`Data source`: https://www.yelp.com/dataset/download

`Data description`: Contains business data including location data, attributes, and categories.

### Setup MapD Connection

In [1]:
import pymapd
import pandas as pd
import numpy as np
from time import time
import warnings
warnings.filterwarnings("ignore")
import os
PWD = !pwd

In [2]:
dbname    = 'mapd'
username  = 'mapd'
password  = 'HyperInteractive'
hostname  = 'localhost'
mport     = 9091  # default port number is 9091

con = pymapd.connect(user=username,password=password,dbname=dbname,host=hostname,port=mport,protocol='binary')
print(con)

Connection(mapd://mapd:***@docker.for.mac.localhost:9091/mapd?protocol=binary)

### Load data into MapD
Data is in 3 files; so we need to load them separately

In [3]:
def load_data(table, _create_stmt, file_name):
    _drop = '''DROP TABLE IF EXISTS {}'''.format(table)
    _copy = "COPY {} from '{}'".format(table,file_name)
    con.execute(_drop)
    con.execute(_create_stmt)
    # load data
    st = time()
    con.execute(_copy)
    print("Time taken to copy '{}' table: {}".format(table, time()-st))

In [4]:
datasets = {}
datasets["yelp_business"] = ["CREATE TABLE yelp_business (hours_wed TEXT, delivery_service TEXT ENCODING DICT(8), open24 TEXT, dogs_allowed TEXT ENCODING DICT(8), coat_check TEXT ENCODING DICT(8), postal_code TEXT, smoking TEXT ENCODING DICT(8), hours_thu TEXT, diet_restrictions TEXT ENCODING DICT(8), city TEXT ENCODING DICT(16), hours_tue TEXT, good_kids TEXT ENCODING DICT(8), byob TEXT ENCODING DICT(8), ages TEXT ENCODING DICT(8), hours_fri TEXT, stars FLOAT, latitude FLOAT, Alcohol TEXT ENCODING DICT(16), price_range TEXT ENCODING DICT(8), table_service TEXT ENCODING DICT(8), hair_specialize TEXT, business_id TEXT, counter_service TEXT ENCODING DICT(8),corkage TEXT ENCODING DICT(8),good_groups TEXT ENCODING DICT(8),categories TEXT,business_name TEXT,accept_bitcoin TEXT ENCODING DICT(8),happy_hours TEXT,wheel_char TEXT ENCODING DICT(8),caters TEXT ENCODING DICT(8),byob_corkage TEXT ENCODING DICT(8),is_open TEXT ENCODING DICT(8),address TEXT,neighbourhood TEXT,ambience TEXT, longitude FLOAT, hours_mon TEXT,best_nights TEXT ENCODING DICT(16),hours_sat TEXT,review_count INTEGER,appointment_only TEXT ENCODING DICT(8),noise_level TEXT ENCODING DICT(8),state TEXT ENCODING DICT(8),accept_cards TEXT ENCODING DICT(8),drive_thru TEXT ENCODING DICT(8),has_tv TEXT ENCODING DICT(8),music TEXT ENCODING DICT(8),hours TEXT, business_parking TEXT, wifi TEXT ENCODING DICT(8),attire TEXT ENCODING DICT(8),  hours_sunday TEXT, good_meal TEXT, good_for_dancing TEXT ENCODING DICT(8),accept_insurance TEXT ENCODING DICT(8),reservations TEXT ENCODING DICT(8), attributes TEXT, take_out TEXT ENCODING DICT(8), bike_parking TEXT ENCODING DICT(8),outdoor_seating TEXT ENCODING DICT(8))",
                            "s3://mapd-ml-data/yelp/yelp_academic_dataset_business.csv"]

In [5]:
for name, attr in datasets.items():
    load_data(name, attr[0], attr[1])

Time taken to copy 'yelp_business' table: 19.277655839920044

### Extract data

In [6]:
columns = '''stars,business_id,review_count,delivery_service,open24,dogs_allowed,smoking,diet_restrictions,good_kids,byob,ages,price_range,table_service,good_groups,accept_bitcoin,wheel_char,appointment_only,noise_level,state,accept_cards,drive_thru,has_tv,wifi,attire,reservations,take_out,bike_parking,outdoor_seating'''
extract_query = '''SELECT {} from {}'''.format(columns, next(iter(datasets))) # Use first table

df = con.select_ipc(extract_query)
print(len(df))

188593

We will leave out some attribute columns like attributes, hours etc. for this example.

In [7]:
df.head(10)

,stars,business_id,review_count,delivery_service,open24,dogs_allowed,smoking,diet_restrictions,good_kids,byob,...,state,accept_cards,drive_thru,has_tv,wifi,attire,reservations,take_out,bike_parking,outdoor_seating
0,4.0,Apn5Q_b6Nz61Tq4XzPdf9A,24,False,NaN,NaN,NaN,NaN,True,NaN,...,AB,True,NaN,True,NaN,casual,True,True,False,False
1,4.5,AjEbIBw6ZFfln7ePHha9PA,3,False,NaN,True,NaN,NaN,True,NaN,...,NV,True,False,False,no,casual,False,True,False,True
2,4.0,O8S5hYJ1SMc8fA4QBtVujA,5,False,NaN,NaN,NaN,NaN,True,NaN,...,QC,False,NaN,True,free,casual,True,False,True,False
3,1.5,bFzdJJ3wp3PZssNEsyU23g,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,AZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,8USyCYqpScwiNEb58Bt6CA,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,AB,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,45bWSZtniwPRiqlivpS8Og,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,AZ,True,NaN,NaN,free,NaN,NaN,True,True,True
6,4.0,9A2quhZLyWk0akUetBd8hQ,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2.0,6OuOZAok8ikONMS_T3EzXg,7,NaN,NaN,NaN,NaN,NaN,True,NaN,...,ON,True,NaN,NaN,NaN,casual,NaN,True,NaN,False
8,2.5,8-NRKkPY1UiFXW20WXKiXg,40,False,NaN,NaN,NaN,NaN,True,NaN,...,AZ,True,NaN,False,no,casual,False,True,True,False
9,3.5,UTm5QZThPQlT35mkAcGOjg,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PA,True,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN

### Process/Clean Data

In [8]:
# check unique values of each column
for col in columns.split(','):
    print("{}: {}".format(col, df[col].nunique()))

stars: 9
business_id: 188593
review_count: 1137
delivery_service: 2
open24: 2
dogs_allowed: 2
smoking: 3
diet_restrictions: 20
good_kids: 2
byob: 2
ages: 4
price_range: 4
table_service: 2
good_groups: 2
accept_bitcoin: 2
wheel_char: 2
appointment_only: 2
noise_level: 4
state: 69
accept_cards: 2
drive_thru: 2
has_tv: 2
wifi: 3
attire: 3
reservations: 2
take_out: 2
bike_parking: 2
outdoor_seating: 2

In [9]:
# Remove business_id as all values are unique
df.drop('business_id', axis = 1, inplace = True)

In [10]:
# get null value count
df.isnull().sum()

stars                     0
review_count              0
delivery_service     136925
open24               188241
dogs_allowed         174912
smoking              180480
diet_restrictions    188455
good_kids            123662
byob                 187682
ages                 188196
price_range           81473
table_service        145268
good_groups          134754
accept_bitcoin       175919
wheel_char           136570
appointment_only     143170
noise_level          144883
state                     0
accept_cards          48202
drive_thru           181839
has_tv               141060
wifi                 139567
attire               140411
reservations         137230
take_out             127387
bike_parking         103702
outdoor_seating      134412
dtype: int64

In [11]:
# remove columns with almost all null values
rem_cols = ['open24','dogs_allowed','smoking','diet_restrictions','byob','ages','accept_bitcoin','drive_thru']
for col in rem_cols:
    df.drop(col, axis=1, inplace=True)

In [12]:
df.head(10)

,stars,review_count,delivery_service,good_kids,price_range,table_service,good_groups,wheel_char,appointment_only,noise_level,state,accept_cards,has_tv,wifi,attire,reservations,take_out,bike_parking,outdoor_seating
0,4.0,24,False,True,2,NaN,True,NaN,NaN,average,AB,True,True,NaN,casual,True,True,False,False
1,4.5,3,False,True,2,False,True,True,NaN,NaN,NV,True,False,no,casual,False,True,False,True
2,4.0,5,False,True,2,True,True,NaN,NaN,average,QC,False,True,free,casual,True,False,True,False
3,1.5,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AB,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,63,NaN,NaN,1,NaN,NaN,True,NaN,NaN,AZ,True,NaN,free,NaN,NaN,True,True,True
6,4.0,7,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,ON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2.0,7,NaN,True,2,False,True,NaN,NaN,NaN,ON,True,NaN,NaN,casual,NaN,True,NaN,False
8,2.5,40,False,True,1,False,True,True,NaN,average,AZ,True,False,no,casual,False,True,True,False
9,3.5,3,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,PA,True,NaN,NaN,NaN,NaN,NaN,True,NaN

In [13]:
# Normalize numerical cols
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler(copy=False, with_mean=True, with_std=True)
df['review_count'] = scaler.fit_transform(df['review_count'].as_matrix().reshape(-1,1))
print(scaler.mean_)

[31.79730955]

In [14]:
# one-hot-encode cat cols
cat_cols = set(df.columns) - set(['stars','review_count'])
for cats in cat_cols:
    df = pd.concat([df,pd.get_dummies(df[cats], prefix=cats,dummy_na=True)],axis=1).drop(cats,axis=1)

In [15]:
df.head(10)

,stars,review_count,reservations_True,reservations_False,reservations_nan,good_groups_True,good_groups_False,good_groups_nan,noise_level_average,noise_level_loud,...,wheel_char_nan,table_service_False,table_service_True,table_service_nan,accept_cards_True,accept_cards_False,accept_cards_nan,outdoor_seating_False,outdoor_seating_True,outdoor_seating_nan
0,4.0,-0.074885,1,0,0,1,0,0,1,0,...,1,0,0,1,1,0,0,1,0,0
1,4.5,-0.276568,0,1,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
2,4.0,-0.257360,1,0,0,1,0,0,1,0,...,1,0,1,0,0,1,0,1,0,0
3,1.5,-0.228548,0,0,1,0,0,1,0,0,...,1,0,0,1,0,0,1,0,0,1
4,2.0,-0.266964,0,0,1,0,0,1,0,0,...,1,0,0,1,1,0,0,0,0,1
5,4.0,0.299669,0,0,1,0,0,1,0,0,...,0,0,0,1,1,0,0,0,1,0
6,4.0,-0.238152,0,0,1,0,0,1,0,0,...,1,0,0,1,0,0,1,0,0,1
7,2.0,-0.238152,0,0,1,1,0,0,0,0,...,1,1,0,0,1,0,0,1,0,0
8,2.5,0.078778,0,1,0,1,0,0,1,0,...,0,1,0,0,1,0,0,1,0,0
9,3.5,-0.276568,0,0,1,0,0,1,0,0,...,1,0,0,1,1,0,0,0,0,1

Split train/test data

In [16]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.30, random_state=11)

train_x = train.as_matrix(df.columns[1:])
train_y = train.as_matrix([df.columns[0]])
test_x = test.as_matrix(df.columns[1:])
test_y = test.as_matrix([df.columns[0]])

In [17]:
print(train_x.shape)
print(train_y.shape)
print(test_x.shape)
print(test_y.shape)

(132015, 125)
(132015, 1)
(56578, 125)
(56578, 1)

### CNTK
CNTK(Congnitive Toolkit) is an open source neural network library.
https://github.com/Microsoft/CNTK

In [18]:
import cntk as C
from cntk import Trainer, learning_rate_schedule, UnitType
from cntk.layers import default_options, Dense
from cntk import sgd
from cntk.ops import *

In [19]:
# define dimentions for model
input_dim = 125
num_output = 1

In [20]:
# Define a dictionary to store the model parameters
params = {"w":None,"b":None} 
def linear_layer(input_var, output_dim):
    
    input_dim = input_var.shape[0]
    weight_param = parameter(shape=(input_dim, output_dim))
    bias_param = parameter(shape=(output_dim))
    params['w'], params['b'] = weight_param, bias_param

    return times(input_var, weight_param) + bias_param

In [21]:
feature = C.input_variable((input_dim))
label = C.input_variable((num_output))
h = linear_layer(feature, num_output)

In [22]:
# loss and evaluation
loss = C.squared_error(h, label)
eval_error = C.squared_error(h, label)
learning_rate = 0.00337
lr_schedule = learning_rate_schedule(learning_rate, UnitType.minibatch)
learner = sgd(h.parameters, lr_schedule)
trainer = Trainer(h, (loss, eval_error), [learner])

In [23]:
# params to train
batch_size = 3500

samples_train = train_x.shape[0]
epoch = int(samples_train/batch_size)

Train model

In [24]:
for i in range(0, epoch):   
   train_features = train_x[(i*batch_size):(i*batch_size+batch_size),:] 
   train_labels = train_y[(i*batch_size):(i*batch_size+batch_size),:] 
   trainer.train_minibatch({feature : train_features, label : train_labels})
   training_loss = trainer.previous_minibatch_loss_average
   eval_error = trainer.previous_minibatch_evaluation_average

   print ("Minibatch: {0}, Loss: {1:.4f}, Error: {2:.2f}".format(i, training_loss, eval_error))

Minibatch: 0, Loss: 14.1204, Error: 14.12
Minibatch: 1, Loss: 12.3994, Error: 12.40
Minibatch: 2, Loss: 11.0187, Error: 11.02
Minibatch: 3, Loss: 9.7487, Error: 9.75
Minibatch: 4, Loss: 8.6122, Error: 8.61
Minibatch: 5, Loss: 7.6006, Error: 7.60
Minibatch: 6, Loss: 6.7959, Error: 6.80
Minibatch: 7, Loss: 6.0181, Error: 6.02
Minibatch: 8, Loss: 5.4658, Error: 5.47
Minibatch: 9, Loss: 4.8741, Error: 4.87
Minibatch: 10, Loss: 4.3949, Error: 4.39
Minibatch: 11, Loss: 4.1270, Error: 4.13
Minibatch: 12, Loss: 3.7054, Error: 3.71
Minibatch: 13, Loss: 3.4144, Error: 3.41
Minibatch: 14, Loss: 3.0914, Error: 3.09
Minibatch: 15, Loss: 3.0260, Error: 3.03
Minibatch: 16, Loss: 2.7872, Error: 2.79
Minibatch: 17, Loss: 2.6069, Error: 2.61
Minibatch: 18, Loss: 2.4375, Error: 2.44
Minibatch: 19, Loss: 2.3328, Error: 2.33
Minibatch: 20, Loss: 2.1792, Error: 2.18
Minibatch: 21, Loss: 2.1158, Error: 2.12
Minibatch: 22, Loss: 1.9495, Error: 1.95
Minibatch: 23, Loss: 1.9210, Error: 1.92
Minibatch: 24, Loss: 1.8560, Error: 1.86
Minibatch: 25, Loss: 1.7850, Error: 1.78
Minibatch: 26, Loss: 1.7178, Error: 1.72
Minibatch: 27, Loss: 1.7139, Error: 1.71
Minibatch: 28, Loss: 1.6438, Error: 1.64
Minibatch: 29, Loss: 1.6150, Error: 1.61
Minibatch: 30, Loss: 1.5659, Error: 1.57
Minibatch: 31, Loss: 1.4995, Error: 1.50
Minibatch: 32, Loss: 1.5598, Error: 1.56
Minibatch: 33, Loss: 1.4856, Error: 1.49
Minibatch: 34, Loss: 1.4494, Error: 1.45
Minibatch: 35, Loss: 1.4532, Error: 1.45
Minibatch: 36, Loss: 1.4592, Error: 1.46

In [25]:
# print ("weights: ", params['w'].value)
# print ("Bias: ",  params['b'].value)

Evaluate model on test data

In [26]:
test_features = test_x 
test_labels = test_y
test_eval_result = trainer.test_minibatch({feature : test_features, label : test_labels}) 
print ("Test Data Evaluation Error: {0:.2f}".format(test_eval_result))

Test Data Evaluation Error: 1.42

Predictions

In [27]:
results = h.eval({feature : test_x})

In [28]:
predcol= 'stars_pred'
predtab= 'yelp_business_predictions'
predview= 'yelp_business_predictions_view'

test.reset_index(inplace=True, drop=True)
test[predcol] = pd.DataFrame(results)

In [29]:
test.head(10)

,stars,review_count,reservations_True,reservations_False,reservations_nan,good_groups_True,good_groups_False,good_groups_nan,noise_level_average,noise_level_loud,...,table_service_False,table_service_True,table_service_nan,accept_cards_True,accept_cards_False,accept_cards_nan,outdoor_seating_False,outdoor_seating_True,outdoor_seating_nan,stars_pred
0,5.0,-0.276568,0,0,1,0,0,1,0,0,...,0,0,1,0,0,1,0,0,1,3.672139
1,4.5,0.568579,1,0,0,1,0,0,1,0,...,0,1,0,1,0,0,1,0,0,2.098594
2,4.0,-0.276568,0,0,1,0,0,1,0,0,...,0,0,1,1,0,0,0,0,1,3.781351
3,4.5,-0.199736,0,0,1,0,0,1,0,0,...,0,0,1,1,0,0,0,0,1,3.486758
4,4.0,-0.257360,0,0,1,0,0,1,0,0,...,0,0,1,0,0,1,0,0,1,3.636613
5,3.5,-0.257360,0,1,0,0,1,0,0,0,...,1,0,0,1,0,0,1,0,0,2.373304
6,4.5,-0.228548,0,0,1,0,0,1,0,0,...,0,0,1,1,0,0,0,0,1,3.606097
7,4.5,-0.238152,0,0,1,0,0,1,0,0,...,0,0,1,1,0,0,0,0,1,3.804615
8,5.0,-0.257360,0,0,1,0,0,1,0,0,...,0,0,1,1,0,0,0,0,1,3.586962
9,3.5,-0.113301,0,1,0,1,0,0,1,0,...,1,0,0,1,0,0,1,0,0,2.416667